:root {
    --header-height: 3rem;

    /*====== COLORS ======*/
    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    /*======  ======*/


    /*======  ======*/


    /*======  ======*/

}

/*#region VARIABLES DARK THEME */
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 26%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*#endregion*/

/*#region BUTTON DARK/LIGHT */
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

/*#endregion*/

/*#region BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

/*#endregion*/

/*#region LAYOUT */
.container{
    max-width: 768px;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--body-color);
}
/*#endregion*/

/*#region NAV */
.primary-nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo{
    height: var(--header-height);
}

.nav-menu__item{
    color: var(--title-color);
}

.nav-menu__item:hover{
    color: var(--first-color);
}

/*#endregion*/

/*#region BASE */
/*#endregion*/

/*#region BASE */
/*#endregion*/

/*#region BASE */
/*#endregion*/

/*#region BASE */
/*#endregion*/