:root {
    --header-height: 3rem;

    /*====== COLORS ======*/
    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #FFF;
    --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%);
    /*======  ======*/


    /*======  ======*/


    /*======= z index =======*/
    --z-tooltip: 1;
    --z-fixed: 2;
    --z-modal: 3;

}

/*#region VARIABLES DARK THEME */
body.dark-theme{
    --first-color-second: hsl(var(--hue-color), 30%, 8%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 26%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --container-color: hsl(var(--hue-color), 29%, 16%);
    --scroll-bar-color: hsl(var(--hue-color), 12%, 48%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 36%);
}

/*#endregion*/

/*#region BUTTON DARK/LIGHT */
.nav__btns{
    display: flex;
    align-items: center;
}

.change-theme{
    font-size: 1.25rem;
    color: var(--title-color);
    margin-right: 1rem;
    cursor: pointer;
}

.change-theme:hover{
    color: var(--first-color);
}

/*#endregion*/

/*#region BASE */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-emphasis: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}

ul{
    list-style: none;
}

/*#endregion*/

/*#region LAYOUT */
.container{
    max-width: 768px;
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.header{
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
}
.nav{
    width: 100%;
}

/*#endregion*/

/*#region NAV */
.primary-nav{
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    box-shadow: 5px 4px 5px #000;
}

.nav-logo,
.nav-toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav-logo:hover{
    color: var(--first-color);
}

.nav-toggle:hover{
    color: var(--first-color);
}

.nav-item{
    color: var(--title-color);
    position: absolute;
    justify-content: auto;
}

.nav-item:hover{
    color: var(--first-color);
}

.nav-dropdown{
    display: none;
    position: absolute;
    background-color: var(--container-color);
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}
.nav-dropdown:hover{
    display: block;
    color: var(--first-color);
}

.header::before,
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: var(--z-tooltip);
}
.header::after{
    top: auto;
    bottom: 0;
}

/*#endregion*/

/*#region BASE */
/*#endregion*/

/*#region BASE */
/*#endregion*/

/*#region BASE */
/*#endregion*/

/*#region BASE */
/*#endregion*/